:root{
    --titlesize:40px
}


*{
    padding: 0;
    margin: 0;
}
.nav{
    /* border: 2px solid black; */
    width: 100%;
    padding: 10px 30px;
}
.logo{
   /* border: 2px solid red; */
    display: inline-block;
    width: 35%;
    font-size: var(--titlesize)  ;
    color: #0D5EBA;
    text-transform: uppercase;
}
.list{
   /* border: 2px solid green; */
    display: inline-block;
    width: 60%;
    text-align: right;
}
li{
    display: inline;
    font-size: 40px;
    margin-left: 40px;

}
.hero{
    /* border: 2px solid black; */
   max-width: 100%;
}
.hero > img{
    width: 100%;
}
.cardcontainer{
    /* border: 5px solid red; */
    width: 90%;
    margin: 30px auto;
}
.card{
    width: 260px;
    height: 260px;
    border: 2px solid black;
    display: inline-block;
    margin-left: 60px;
}
#title{
    margin-bottom: 30px;
    font-size: var(--titlesize);
    margin-left: 60px;
}
#cardtitle{
    text-align: center;
    font-size: 20px;
    font-weight: normal;}
.Banner{
    width: 100%;
    height: 500px;
    border: 2px solid black;
}
.leftdiv{
    border: 2px solid red;
    width: 50%;
    display: inline-block;
    background-color: #0D5EBA;
    height: 630px;
    /* color: white; */
    font-family: var(--titlesize);
    vertical-align: top;
    margin-top: 80px;

}
.rightdiv{
    border: 2px solid red;
    width: 48%;
    display: inline-block;}

    

.innerleft{
    border: 2px solid white;
    background-color: white;
    width: 360px;
    height: 340px;
    margin:70px auto;
}
.innerleft h2{
    font-size: 40px;
    margin: 10px;
    
}
.innerleft p{
    font-size: 30px;
    margin: 10px;

}
.innerleft button{
    padding: 10px 20px;
}
